$white-color: #ffffff;
$main-grey: #efefef;
$black-color: #000000;
$brown-color: #8c4343;

$blue-color: #2d92ff;
$dark-brown-color: #3b2d2d;

//Header
$header-padding: 20px;
$header-font: 5px;

@media screen and (min-width: 1800px) {
  $header-padding: 80px;
  $header-font: 10px;
}
