@import '../../../variables.scss';

.Alert {
  border: 1px solid black;
  text-align: center;

  border-radius: 5px;
  margin-top: 4px;

  h6 {
    font-size: 20px;
    margin: 16px 0;
  }

  animation: alert 1000ms ease-in-out;
}

@keyframes alert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Alert.Info {
  h6 {
    background-color: lighten(blue, 20%);
  }
}

.Alert.Error {
  h6 {
    background-color: red;
  }
}

.Alert.Warning {
  h6 {
    background-color: darken(yellow, 10%);
  }
}

.Alert.Accept {
  h6 {
    background-color: lighten(green, 10%);
  }
}
